@tailwind base;
@tailwind components;
@tailwind utilities;

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.nav-menu{
    @apply text-gray-300 cursor-pointer hover:text-gray-500 transition-colors text-sm;
}

.nav-footer{
    @apply  hover:text-cyan-400 transition-colors cursor-pointer;
}

.button{
    @apply bg-cyan-400 flex items-center text-sm justify-center text-white px-4 py-2 cursor-pointer transition-colors hover:bg-cyan-300
}

.top-20{
    top: 5rem;
}

.top-10{
    top: 2.5rem;
}
